\documentclass[conference]{IEEEtran}
\usepackage{graphicx}
\usepackage{cite}

\title{__TITLE__}
\author{__AUTHOR_LINE__}

\begin{document}
\maketitle

\begin{abstract}
Write your abstract here.
\end{abstract}

\begin{IEEEkeywords}
keyword1, keyword2
\end{IEEEkeywords}

\section{Introduction}
Start writing your paper.

\bibliographystyle{IEEEtran}
\bibliography{refs}

\end{document}
